<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Vote Page</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link href="ccss/vote.css" rel="stylesheet">
  <link href="vendor/semantic/transition.min.css" rel="stylesheet">
  <link href="vendor/semantic/dropdown.min.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" >
      <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/vote">VOTE PAGE</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">      
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-user"></i>About</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper">
    <div class="container-fluid" id="container">
        <div>
          <h2 class="text-center"> {{title}}  </h2>
        </div>
        <div class="row top-buffer justify-content-center">
          <div class="ui fluid search selection dropdown">
              <input type="hidden" name="user" id="user-id">
              <i class="dropdown icon"></i>
              <div class="default text">Bạn là ai ?</div>
              <div class="menu">
                {{#each users as |user userId| }}
                    {{!-- <option data-value="{{user.id}}">{{user.name}}</option> --}}
                    <div class="item" data-value="{{user.id}}">{{user.name}}</div>
                {{/each}}
              </div>
          </div>
        </div>
        <div class="row top-buffer">
            <div class='col col-md-2 col-5'>Trình bày(30%):</div>
            <div class='col rating-stars text-center '>
                <ul class='starVote' data-value="1">
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class='col col-md-2 col-5'>Nội dung(35%):</div>
            <div class='col rating-stars text-center'>
                <ul class='starVote' data-value="2" >
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class='col col-md-2 col-5'>Hình thức(20%):</div>
            <div class='col rating-stars text-center'>
                <ul class='starVote' data-value="3" >
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class='col col-md-2 col-5'>Phản biện(15%):</div>
            <div class='col rating-stars text-center'>
                <ul class='starVote' data-value="4" >
                <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center top-buffer">
          <div class="col ">
            <div class="alert alert-danger error-toast" style="display:none">Còn TC trống</div>
          </div>
        </div>
        <div class="row justify-content-center ">
          <div class="col col-md-1 col-2">
            <button type="button" class="btn btn-primary" id="sendBtn">Send</button>
          </div>
        </div>
        
    </div>

    <!-- Toast -->
    

    <footer class="sticky-footer ">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Quang Do Van 2018</small>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>

    <!-- Success Modal-->
    <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-label">Bình chọn thành công!! </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Ấn Ok để tiếp tục.</div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Fail Modal-->
    <div class="modal fade" id="fail-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label-f" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-label-f">Bình chọn thất bại! </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Ấn Ok để thử lại</div>
          <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="vendor/semantic/transition.min.js"></script>
    <script src="vendor/semantic/dropdown.min.js"></script>
    <script src="js/sb-admin.min.js"></script>
    <script src="cjs/vote.js"></script>
</body>

</html>
